@tailwind components;

@layer components {
	.navbar-button {
		@apply mx-4 text-2xl text-white min-w-max;
	}
	.navbar-button:hover {
		color: #c9e7ff;
	}

	.form-button {
		@apply py-1 px-4 mx-2 w-52 text-white text-xl rounded-3xl border border-white;
		background-color: #6200ea;
	}
	.form-button:hover {
		border-width: 2px;
		background-color: #6200ea;
	}
	.form-optionally-button {
		@apply py-1 px-4 mx-2 w-52 text-xl rounded-3xl bg-white border hover:border-2;
		border-color: #6200ea;
		color: #6200ea;
	}

	.authorize-button {
		@apply py-1 px-2 mx-2 w-60 text-xl rounded-3xl border bg-white;
		border-color: #6200ea;
		color: #6200ea;
	}
	.authorize-button:hover {
		border-width: 2px;
		background-color: #eff6fd;
	}
	.register-button {
		@apply py-1 px-2 mx-2 w-60 text-white text-xl rounded-3xl border border-white;
		background-color: #6200ea;
	}
	.register-button:hover {
		border-width: 2px;
		color: #c9e7ff;
		border-color: #c9e7ff;
	}

	.authorize-form-button {
		@apply py-2 px-4 w-full text-white text-xl rounded-lg border border-white;
		background-color: #6200ea;
	}
	.authorize-form-button:hover {
		border-width: 2px;
		background-color: #6200ea;
	}
}
